html {
    background: url(https://media1.tenor.com/images/9d405fa60f5f7be1c4c2db40e4a32dd5/tenor.gif) lightpink;
    animation: 3s linear infinite alternate none running dancing;
}

@keyframes dancing {
    from { background-position: top left; }
    to   { background-position: bottom right; }
}

@keyframes growing {
    from { font-size: 1em; }
    to   { font-size: 10em; }
}

h1 {
    animation: 3s linear infinite alternate none running growing;
    color:hotpink;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}